<h1>Administrador catalogo</h1>
<div id="contenedorProductos" class="contenedorProductos"></div>

<h2>Completa los campos para sumar un producto al catalogo</h2>

<form>
    <input type="text" id="titulo" placeholder="titulo">
    <input type="text" id="descripcion" placeholder="descripcion">
    <input type="number" id="precio" placeholder="precio">
    <input type="text" id="imagen" placeholder="imagen">
    <input type="text" id="codigo" placeholder="codigo">
    <input type="number" id="stock" placeholder="stock">

    <button type="button" id="BotonEnviar">Enviar</button>
</form>






<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js" ></script>
<script src="js/main.js"></script> 