<h1>Administrador catalogo</h1>
<div id="contenedorProductos" class="contenedorProductos">

<h2>Completa los campos para sumar un producto al catalogo</h2>

<form>
    <input type="text" id="titulo" placeholder="titulo">
    <input type="text" id="descripcion" placeholder="descripcion">
    <input type="number" id="precio" placeholder="precio">
    <input type="text" id="imagen" placeholder="imagen">
    <input type="text" id="codigo" placeholder="codigo">
    <input type="number" id="stock" placeholder="stock">

    <button type="button" id="BotonEnviar">Enviar</button>
</form>


</div>



<script src="https://cdn.socket.io/4.7.3/socket.io.min.js" integrity="sha384-+miq58Ltmjm+SSP5g8Ok6dpMO/6R4n8xe/x1Yj0Bdb9kiEz25LTnWv/GZQTRQamg" crossorigin="anonymous"></script>
<script src="js/main.js"></script> 